<div class="app-wrapper">


    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            {{#if messageStatus}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{messageStatus}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/if}}

            {{!-- form --}}
            <form action="/admin/about/store" method="post" class="row g-3">
                <div class="col-md-6">
                    <label for="name" class="form-label">Tên giới thiệu</label>
                    <input name="name" type="text" class="form-control" placeholder="Nhập tên tiêu đề bài giới thiệu"
                        class="form-control" id="name">
                </div>
                <div class="col-md-6">
                    <label for="ImageFile" class="form-label">Hình ảnh giới thiệu</label>
                    <input name="image" class="form-control" type="file" id="ImageFile">
                </div>
                <div class="col-12">
                    <label for="sloganAbout">Câu phương châm trang giới thiệu</label>
                    <textarea name="sloganAbout" class="form-control" placeholder="Slogan About" id="sloganAbout"
                        style="height: 100px"></textarea>
                </div>
                <div class="col-12">
                    <label for="sloganService">Câu phương châm của dịch vụ</label>
                    <textarea name="sloganService" class="form-control" placeholder="Slogan Service" id="sloganService"
                        style="height: 100px"></textarea>
                </div>
                <div class="col-12">
                    <label for="sloganBrand">Câu phương châm về các thương hiệu</label>
                    <textarea name="sloganBrand" class="form-control" placeholder="Slogan Brands" id="sloganBrand"
                        style="height: 100px"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn app-btn-primary">Thêm</button>
                    <a href="/admin/about" class="btn app-btn-primary">Quay lại</a>
                </div>
            </form>

        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-content-->


</div>