<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pharmacy | Lê Hoàng</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="client/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="client/assets/img/favicon.ico">

    <link rel="stylesheet" href="client/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="client/assets/css/templatemo.css">
    <link rel="stylesheet" href="client/assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="client/assets/css/fontawesome.min.css">
    <!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body>
    {{> client/top-nav}}

    {{> client/nav-bar}}

    {{{body}}}

    {{> client/footer}}
    <!-- Start Script -->
    <script src="client/assets/js/jquery-1.11.0.min.js"></script>
    <script src="client/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="client/assets/js/bootstrap.bundle.min.js"></script>
    <script src="client/assets/js/templatemo.js"></script>
    <script src="client/assets/js/custom.js"></script>
    <!-- End Script -->

    <!-- Custom Script -->
    <script src="client/assets/js/jquery-3.6.0.min.js"></script>
</body>

</html>